body {
    margin: 0px;
    padding: 0px;
    background-image: url(/imgs/black.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000;
}

.navbar-collapse ul {
    margin: 10px;
}

.navbar {
    font-family: sans-serif;
}

.navbar-default {
    background-color: rgba(0, 0, 0, 0);
}

.navbar a {
    border: outset;
    border: 1px solid;
    padding: 10px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    background-color: #000000;
    color: rgb(63, 245, 8);
}

.navbar a:hover {
    color: #ffffff;
    animation: linear 3px;
    background-color: #48ff00;
}

header h1 {
    font-family: sans-serif;
    margin-top: 75px;
    padding-top: 20px;
    font-size: 50px;
    font-weight: bold;
}

header h2 {
    font-family: sans-serif;
    padding-bottom: 30px;
    font-style: oblique;
    color: rgb(43, 255, 0);
}

section h2 {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bg-default {
    background-color: rgba(0, 0, 0, 0);
}

.portfolio h2,
.contact h2 {
    font-size: 50px;
    color: #dcdce2b7 !important;
}

h5 {
    font-size: 20px;
    position: relative;
    left: 420px;
    margin-bottom: 150px;
    color: cornflowerblue;
}

.contact h2 {
    padding: 0 50px;
    border: 1px solid;
    border-style: outset;
}

.portfolio-item {
    text-align: center;
    width: 30vh;
    padding: 15px;
    border-radius: 2%;
}

.portfolio-item img {
    max-width: 210px;
    max-height: 80px;
    margin-bottom: 10px;
}

.portfolio-item p {
    text-align: justify;
    color: aquamarine
}

.portfolio-item a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

.about h2 {
    padding-top: 70px;
    color: #48ff00;
}

.about p {
    text-align: justify;
    padding-bottom: 30px;
    font-size: 25px;
}

.contactForm input {
    height: 55px;
}

.btn-send {
    color: white;
    background-color: #000000;
    width: 70px;
    height: 50px;
}

.btn-send:hover {
    color: #000000;
    background-color: #e84118;
}

.footer-port {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding: 40px;
}

.footer-port h4 {
    font-size: 30px;
    font-weight: bold;
}

.footer-port ul {
    list-style: none;
    margin: 0 auto;
    font-size: 20px;
    padding: 10px;
}

.footer-port ul li {
    display: inline;
    padding: 20px;
}

.footer-port ul li a {
    text-decoration: none;
    color: white;
}

.footer-port ul li a:hover {
    color: #42ff08;
}

.copyright {
    padding: 20px;
    background-color: black;
    color: #fff;
}

.social-medias {
    padding-bottom: 30px;
}

.social-media {
    padding-right: 20px;
}

.large-icon {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: blue;
}

.large-icon:hover {
    color: #fff;
}

label {
    color: #ddd;
}

.box {
    position: relative;
    border-style: outset;
    margin-top: 100px;
    max-width: 1350px;
    max-height: 850px;
    padding: 30px;
    background: rgb(0, 0, 0);
    box-shadow: 0 5px 15px rgba(0, 0, 0.5);
}

.boxx {
    padding: 0 100px;
    background: url(bg.jpg);
    height: 100px;
    display: flex;
    align-items: center;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    border: transparent;
}

.topnav .search-container button {
    position: fixed;
    padding: 6px 10px;
    margin-top: 0px;
    margin-right: 0px;
    background: #ddd;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    top: 24px;
    left: 439px;
    ;
}

.topnav .search-container button:hover {
    background: rgb(3, 207, 156);
}